{% extends 'home.html' %}
{% block content %}
  <center><h1>Registration Form</h1>
  <form method="POST">
    <label for="">Username:</label>
    <input name="username"  type="text">
    <br>
    <label for="">Mobile:</label>
    <input name="mobile" type="text">
    <br>
    <label for="">Address:</label>
    <input name="address" type="text">
    <br>
    <label for="">Email:</label>
    <input name="email" type="text">
    <br>
    <label for="">Password:</label>
    <input name="password" type="text">
    <br>
    <button>Submit</button></center>
  </form>
{% endblock %}